/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.container {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

a {
  display: inline-block;
  text-decoration: none !important;
  color: inherit;
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

/* Bookmark button styling */
.go-up {
  position: fixed;
  background-color: #8f98a3;
  right: 0;
  bottom: 70px;
  z-index: 10;
  color: white;
  box-shadow: 0 0 1rem #0000001c;
  padding: 1rem;
}

/* Header Primary Styling */

.header {
  background-color: #ffffff36;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.header__primary {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #ffffff44;
  font-weight: 200;
}

.header__primary-wrapper {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.header__address {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 30%;
  border-right: 1px solid #ffffff44;
}

.header__address address {
  font-style: normal;
  margin: 0;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 1rem 1rem;
}

.header__info a {
  color: #ffffff;
}

.header__phone a {
  font-weight: 600;
}

.header__primary-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ffffff44;
}

.header__primary-nav {
  padding: 1rem 1.5rem;
}

.header__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

.header__search {
  padding: 1rem 1.5rem;
  border-left: 1px solid #ffffff44;
  border-right: 1px solid #ffffff44;
}

.header__socials-wrap {
  display: flex;
}

/* Header dropdown styling */
.header__primary__dropdown {
  cursor: pointer;
}

.active {
  display: block !important;
  position: absolute !important;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(90deg, #479cc1 0%, #69bad8 100%);
  border: 1px solid #ffffff44;
}

.inactive {
  display: none !important;
}

/* Header secondary styling */
.header__secondary:hover {
  background: linear-gradient(90deg, #479cc1 0%, #69bad8 100%);
}

.navbar-dark {
  padding: 1rem 0 !important;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #6cc8df !important;
}

.header__cta-btn {
  border: 1px solid #ffffff;
  color: white;  
}

.header__cta-btn:hover {
  background-color: white;
  color: #479cc1;
}

/* Hero styling */
.hero {
  display: flex;
  background-image: url(../images/main-slider-img-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: 300;
}

.hero__content {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
}

.hero__heading.col-12 {
  font-size: 5rem;
  margin: 0;
}

.hero__text.col-12 {
  font-size: 3rem;
  font-weight: 300;
  line-height: normal;
}

.hero__cta.col-12 {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.hero__cta-button {
  background-color: transparent;
  border: 1px solid #ffffff44;
  color: white;
}

.hero__cta-button:hover {
  background-color: white;
  border-color: white;
  color: #479cc1;
}

/* Time info section styling */
.time-info {
  background: #f7fafb;
}

.time-info-wrapper {
  position: relative;
  z-index: 3;
  padding: 0;
  background: #ffffff;
  margin-top: -2rem;
}

.time-info-wrapper > div > div{
  padding: 2rem 1.5rem;
}

.time-info-wrapper div > h2 {
  color: #6ba1c6 !important;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.opening-hours {
  border-bottom: 5px solid #6cc8df;
}

.opening-days {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.opening-days > span:first-of-type {
  font-weight: 600;
}

.opening-days > span:last-of-type {
  color: #479cc1;
  font-weight: 600;
}

.doctor-time {
  border-bottom: 5px solid #56b0d2;
}

.doctor-time > p {
  line-height: 1.5rem;
  font-weight: 300;
  color: grey;
  margin-bottom: 2rem;
}

.doctor-time__cta-btn {
  border: 1px solid #479cc1;
  background-color: transparent;
  color: #479cc1;
  font-weight: 600;
}

.doctor-time__cta-btn:hover {
  color: white;
  background: #4295cf;
}

.doctor-time__cta-btn:hover > i {
  color: white !important;
}

.doctor-time__cta-btn > i {
  margin-right: 1rem;
}

.emergency-cases {
  border-bottom: 5px solid #4295cf;
}

.emergency-cases > a {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: black;
}

.emergency-cases > p {
  line-height: 1.5rem;
  font-weight: 300;
  color: grey;
}

/* Service section styling */
.services {
  padding: 6.25rem 0;
  background: #f7fafb;
}

.services-wrapper > h2 {
  width: fit-content;
  position: relative;
  margin-bottom: 4rem;
  color: #272d31;
}

.services-wrapper > h2::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #56b0d2;
}

.services__card > img {
  margin-bottom: 1rem;
}

.services__card > h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #272d31;
}

.services__card > p {
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 0.85rem;
  color: grey;
}

/* Introduction section styling */
.intro {
  background: url(../images/fullwidth-img-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 6.25rem 0;
}

.intro-wrapper {
  max-width: 50%;
  color: white;
}

.intro__logo {
  margin-bottom: 2rem;
}

.intro__heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.intro__summary {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.intro__text {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.intro__cta-btn {
  background: white;
  font-weight: 600;
  color: #4295cf;
}

.intro__cta-btn:hover {
  color: white;
  background: #4295cf;
}

/* Departments section styling */
.departments {
  padding: 6.25rem 0;
}

.departments__cards-primary {
  margin-bottom: 2rem;
}

.departments__heading {
  width: fit-content;
  position: relative;
  margin-bottom: 4rem;
  color: #272d31;
}

.departments__heading::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #56b0d2;
}

.departments__card {
  padding: 1rem;
  text-align: center;
}

.departments__card:hover {
  box-shadow: 0 0 2rem #0000001c;
}

.departments__card > img {
  margin-bottom: 2rem;
}

.departments__card > h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #272d31;
}

.departments__card > p {
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 0.85rem;
  color: grey;
}

/* testimonials Section styling */
.testimonials {
  background: url(../images/fullwidth-img-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 6.25rem 0;
}

.testimonials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__left,
.testimonials__right {
  color: #3d9cce;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  text-align: center;
}

.testimonials__image {
  margin-bottom: 1.5rem;
}

.testimonials__text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #3d9cce;
}

.testimonials__person-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.testimonials__person-place {
  font-size: 1rem;
}

/* Specialists section styling */

.specialists {
  padding: 6.25rem 0;
  background: #f4fcfc;
}

.specialists__heading {
  width: fit-content;
  position: relative;
  margin-bottom: 4rem;
  color: #272d31;
}

.specialists__heading::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: #56b0d2;
}

.specialists__image {
  position: relative;
}

.specialists__image > img {
  width: 100%;
  height: 100%;
}

.specialists__info {
  padding: 2rem;
}

.specialists__position {
  display: block;
  font-size: 0.75rem;
  color: #b5b9bb;
  margin-bottom: 0.25rem;
}

.specialists__name {
  display: block;
  margin-bottom: 1rem;
}

.specialists__phone,
.specialists__email {
  color: #b5b9bb;
  margin-bottom: 0.25rem;
}

.specialists__hover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #272d3183;
}

.specialists__image:hover 
.specialists__hover {
  display: block;
}

.specialists__socials {
  display: flex;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Contact form and latest news section styling */
.contact {
  position: relative;
}

.design-block {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #56b0d2;
  z-index: 0;
}

.contact-wrapper {
  padding: 6.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__form-wrap {
  color: white;
  z-index: 2;
}

.contact__form-wrap > h2 {
  position: relative;
  margin-bottom: 4rem;
  font-weight: 500;
}

.contact__form-wrap > h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: white;
}

.contact-wrapper > div {
  width: 40%;
}

.form-row {
  width: 100%;
  position: relative;
}

.contact__form select,
.contact__form input {
  background: transparent;
  color: transparent;
  border: none;
  padding: 1.5rem 0 0.5rem;
  width: 100%;
  appearance: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
}

.form-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(60%);
  clip-path: polygon(100% 0, 0 0, 50% 50%);
  background: white;
  width: 10px;
  height: 10px;
  z-index: 5;
}

.form-row:focus-within .form-arrow {
  background: #004970;
}

/* Change color of the date/time picker icon to white */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) brightness(200%);
  cursor: pointer;
}

.contact__form select:focus,
.contact__form input:focus {
  color: white;
  outline: none;
}

.contact__form select:focus option {
  background: #3d9cce;
}

.contact__form select:focus ~ label,
.contact__form input:focus ~ label {
  transform: translateY(-20px);
  font-size: 0.75rem;
}

.contact__form label {
  position:absolute;
  pointer-events: none;
  left: 0;
  bottom: 0.5rem;
  font-weight: 200;
  transition: all 0.3s ease;
}

.form-submit {
  margin-top: 2rem;
}

.form-submit__btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 600;
}

.form-submit__btn:hover {
  background-color: white;
  color: #56b0d2;
}

.contact__news > h3 {
  position: relative;
  margin-bottom: 3rem;
  font-weight: 500;
}

.contact__news > h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: #56b0d2;
}

.news__item {
  color: #2a93c9;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #272d3160;
}

.news__item > h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.news__author > i {
  color: #7a7a7a;
}

/* Clients section styling */
.clients {
  padding: 6.25rem 0;
  background: #f4fcfc;
}

.clients__images > img {
  width: 100%;
  height: auto;
}

/* Footer Top Styling */
.footer-primary {
  padding: 3rem 0;
  background: #919ba6;
  color: white;
  border-bottom: 1px solid #ffffff44;
}

.footer-primary-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-primary__email {
  min-width: 30%;
  position: relative;
}

.footer-primary__email > input {
  background-color: #a1aab3;
  color: white;
  border: none;
  padding: 1rem;
  width: 100%;
}

.footer-primary__email > label {
  position:absolute;
  pointer-events: none;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-weight: 200;
  transition: all 0.3s ease;
}

.footer-primary__email > input:focus {
  outline: none;
}

.footer-primary__email input:focus ~ label,
.footer-primary__email input:not(:placeholder-shown) ~ label {
  transform: translateY(-20px);
  font-size: 0.75rem;
}

.footer-primary__email > i {
  position:absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.footer-primary__socials {
  display: flex;
  gap: 1rem;
}

/* Footer Bottom styling */
.footer-secondary {
  padding: 6.25rem 0;
  background: #919ba6;
  color: white;
  border-bottom: 1px solid #ffffff44;
}

.footer-secondary-wrapper h3 {
  margin-bottom: 3rem;
  position: relative;
  font-weight: 500;
}

.footer-secondary-wrapper h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #a2abb3;
}

.footer-secondary__logo {
  margin-bottom: 1rem;
}

.footer-secondary__about > p {
  line-height: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}

.footer-secondary__nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 200;
}

.footer-secondary__nav > ul a {
  color: #ffffff;
}

.footer-secondary__info {
  font-weight: 200;
  line-height: 1.5rem;
}

.footer-secondary__info > address {
  font-style: normal;
}

.footer-secondary__info > a {
  display: block;
  color: #ffffff;
}

.footer-secondary__time {
  margin-top: 1rem;
}

.footer-secondary__time > span {
  display: block;
}

/* Copyright section styling */
.copyright {
  padding: 1.5rem 0;
  background: #8f98a3;
  color: white;
}

.copyright-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 200;
}

.copyright__links {
  display: flex;
  margin-bottom: 0;
}

.copyright__links a {
  color: white;
}

.copyright__links > li {
  padding: 0 0.5rem;
}

.copyright__link1 {
  border-right: 1px solid #ffffff44;
}

.copyright-wrap > span {
  padding: 0 0.5rem;
}